.about-products__title {
    margin-bottom: 38px;

    
    @media (max-width: 425.98px) {
        // font-size: 32px;
        margin-bottom: 16px;
    }
    
}

.about-products__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 425.98px) {
        flex-direction: column;
    }
}

.about-products__text {
    display: flex;
    flex-direction: column;

    @media (max-width: 425.98px) {
        order: 2;
    }
}

.about-products__text .btn {
    width: fit-content;
    margin-top: 30px;

    @media (max-width: 1299.98px) {
        font-size: 24px;
        padding: 10px 20px;
    }

    @media (max-width: 425.98px) {
        font-size: 16px;
        margin-top: 10px;
        padding: 10px;
        align-self: center;
        border-radius: 5px;
    }
}

.about-products__description {
    color: #313454;
    font-family: Philosopher;
    font-size: 36px;

    @media (max-width: 1299.98px) {
        font-size: 24px;
    }

    @media (max-width: 425.98px) {
        font-size: 20px;
    }
}

.about-products__image {
    align-self: flex-start;
    max-width: 50%;

    @media (max-width: 425.98px) {
        max-width: 100%;
    }
}