@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

.page-header__navigation {
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style: none;
    font-weight: 700;
    gap: 20px;
}