.second-banner {
    display: flex;
    background-color: #836A5A;
    justify-content: flex-end;
    position: relative;
}

.second-baner__text {
    width: min-content;

    margin-top: 55px;
    margin-right: 50px;
    margin-left: 20px;

    @media (max-width: 768.98px) {
        margin-top: 20px;
        margin-right: 5px;

        img {
            height: 70px;
        }
    }

    @media (max-width: 375.98px) {
        img {
            height: 50px;
        }
    }


}



.second-banner__img-wrapper {
    position: relative;
    height: 328px;

    &::before {
        content: '';
        height: 328px;
        width: 238px;
        position: absolute;
        top: 0;
        left: -2px;
        background-image: url('../../img/banner_2/banner-triangle.png');

        @media (max-width: 768.98px) {
            height: 138px;
        }

        @media (max-width: 640px) {
            width: 101px;
        }

    }

    @media (max-width: 768.98px) {
        height: 138px;
    }

}

.second-banner__image {
    width: 100%;
    height: 328px;

    object-fit: cover;

    @media (max-width: 768.98px) {
        height: 138px;
    }
}


.second-banner__title {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;

    width: min-content;

    @media (max-width: 768.98px) {
        font-size: 16px;
        // width: 200px;
    }
}