@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* COMMON START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background: rgba(220, 240, 249, 0.41);
}


.light-blue-backlight {
    position: absolute;
    width: 589.435px;
    height: 416.541px;
    border-radius: 589.435px;
    background: #D6FEFC;
    filter: blur(120px);
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    width: 100%;
    max-width: 1300px;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    margin: auto;
}

.highlight {
    color: #00ABE6;
}

.highlight-2 {
    font-weight: 600;
}

.btn {
    display: inline-flex;
    padding: 22px 54px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00ABE6;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.social-link {
    width: 25px;
    height: 25px;
}

.block-title {
    position: relative;
    color: #4C5159;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.block-title::after {
    content: "";
    width: 200px;
    height: 5px;
    background: #2AA7FF;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.blue-backlight {
    position: absolute;
    width: 923px;
    height: 471px;
    border-radius: 923px;
    background: #C5E9FA;
    filter: blur(120px);
    z-index: -1;
}

.service-title {
    color: #00ABE6;
    font-family: "Source Sans 3";
    font-size: 24px;
}

.service-link {
    color: #00ABE6;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.service-card {
    padding: 50px;
}

.links-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .before-after-container__title {
        margin-bottom: 30px;
    }

    .service-container__title {
        margin-bottom: 30px;
    }

    .facial-plasty__services {
        grid-template-columns: repeat(2, 1fr);
    }


}


@media (min-width: 320px) and (max-width: 1000px) {

    .main-container {
        width: 90%;
        row-gap: 10px;
    }

    .block-title {
        font-size: 16px;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* .form-section__title {
        margin-left: 5%;
    } */

    .block-title::after {
        width: 200px;
        height: 3px;
        bottom: -12px;
    }

    .btn {
        font-size: 12px;
    }
}

/* COMMON END */

header {}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 50px;
    margin: auto;
    color: #4C5159;
    padding: 20px 5px;
    background: none;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    list-style-type: none;
    gap: 16px;
}

.header__nav-item {
    color: #6B787F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.header__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
}

.header__location {
    height: 38px;
    color: #5a6266;
    text-align: right;
    font-size: 14px;
}

.header__socials {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.header__social-icon {
    width: 25px;
    height: 25px;
}

.header__mobile {
    display: none;
    background-color: #FFF;
    width: 100%;
}

.header__mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    width: 90%;
    margin: auto;
}

.header__logo {
    width: 127px;
}

.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 26px;
    cursor: pointer;
}

.header__burger span {
    display: block;
    position: relative;
    height: 4px;
    background: #00ABE6;
}

.header__burger span:nth-of-type(3) {
    width: 80%;
    align-self: flex-end;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header__wrapper {
        width: 876px;
    }

    .main-container {
        width: 768px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .header__wrapper {
        width: 80%;
    }


}

@media (min-width: 320px) and (max-width: 1000px) {

    .header {
        padding: 0;
        background-color: #fff;
    }

    .header__wrapper {
        display: none;
    }

    .header__mobile {
        display: flex;
    }
}

/*  ===  MAIN START  ===  */


/* DOCTOR START */

.doctor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.blue-backlight {
    position: absolute;
    width: 923px;
    height: 471px;
    border-radius: 923px;
    background: #C5E9FA;
    filter: blur(120px);
    z-index: -1;
}

.doctor__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.doctor__title {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    margin-top: 60px;
}


.doctor__name {
    color: #00ABE6;
    font-size: 48px;
    font-weight: 700;
}

.doctor__description {
    color: #333;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
}

.doctor__specialties {
    color: #4C5159;
    font-size: 20px;
    text-transform: capitalize;
}

.doctor__photo {
    z-index: 1;
    width: 50%;
    position: relative;
}

.doctor__photo-circle {
    position: absolute;
    top: 144px;
    left: 93px;
    z-index: 0;
    width: 391px;
    height: 391px;
    border-radius: 391px;
    border: 2px solid #FFF;
    box-shadow: 0px 2px 4px 0px rgba(100, 100, 100, 0.04);
}

.doctor__btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-top: 70px;
}

.link-more-details {
    text-decoration: none;
}

@media (min-width: 426px) and (max-width: 768px) {
    .doctor-container {
        width: 90%;
    }

    .doctor-container {
        align-items: flex-end;
    }

    .doctor__info {
        gap: 5px;
    }

    .doctor__title {
        margin-top: 0;
        font-size: 16px;
    }

    .doctor__name {
        font-size: 26px;
    }

    .doctor__description {
        font-size: 14px;
    }

    .doctor__specialties {
        font-size: 12px;
    }

    .doctor__btn-container {
        margin-top: 10px;
    }

    .doctor__btn-container .btn {
        padding: 5px 0;
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 583px) {
    .doctor-container {
        flex-direction: column;
        align-items: center;
        background: #ECF5F9;
        width: 100%;
        margin: auto;
    }


    .doctor__photo {
        width: 300px;
        height: 250px;
        margin: auto;
        z-index: 1;
        object-fit: cover;
        object-position: top;
    }

    .doctor__info {
        align-self: auto;
        order: 2;
        width: 90%;
        padding: 15px;
        row-gap: 1px;
        z-index: 2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: #fff;
    }

    .doctor__title {
        color: #333;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }


    .doctor__name {
        color: #00ABE6;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 11px;
    }

    .doctor__description {
        color: #4C5159;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .doctor__specialties {
        font-size: 10px;
    }

    .doctor__btn-container {
        margin-top: 10px;
    }

    .doctor__btn-container .btn {
        padding: 10px 0;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .doctor-container {
        width: 90%;
        align-items: flex-end;
    }

    .doctor__title {
        margin-top: 0;
        font-size: 20px;
    }

    .doctor__name {
        font-size: 40px;
    }

    .doctor__description {
        font-size: 20px;
    }

    .doctor__specialties {
        font-size: 16px;
    }

    .doctor__btn-container {
        margin: 0;
    }

    .doctor__btn-container .btn {
        padding: 5px 0;
        font-size: 16px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .main-container {
        width: 90%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {

    .spacelifting-block-title::after {
        height: 3px;
    }

    .main-container {
        max-width: 80%;
    }

    .doctor {
        width: 100%;
        padding: 5px;
    }

    .doctor-container {
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }

    .doctor__photo {
        height: 500px;
        width: auto;
    }

    .doctor__title {
        font-size: 20px;
    }

    .doctor__name {
        font-size: 40px;
    }

    .doctor__description {
        font-size: 20px;
    }

    .doctor__specialties {
        font-size: 16px;
    }

    .doctor__btn-container {
        margin: 0;
    }

    .doctor__btn-container .btn {
        padding: 10px;
    }

}


/* DOCTOR end */


/* SPACELIFTING START */



.spacelifting-block-title::after {
    width: 50%;
}

.reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
}

.reason__item {
    align-items: center;
    text-align: center;
    width: fit-content;
}

.reason-img {
    height: 92px;
    flex-shrink: 0;
}

@media (min-width: 426px) and (max-width: 768px) {
    .reasons {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .reason-img {
        height: 70px;
    }
}

@media (min-width: 320px) and (max-width: 426px) {
    .reasons {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*  */

.spacelifting {
    margin-top: 30px;
}

.doctor-spacelifting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.doctor-spacelifting__photo {
    width: 446.475px;
    height: 577px;
}

.doctor-spacelifting__block-title {
    margin: 0;
}

.doctor-spacelifting__block-title::after {
    display: none;
}

.doctor-spacelifting__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    max-width: 794.39px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 52px 55px 44px 38px;
    color: #4C5159;
    font-size: 20px;
    font-weight: 400;
}

.doctor-spacelifting__decription-block3 {
    padding-bottom: 24px;
}

.doctor-spacelifting__more-about-me {
    align-self: flex-end;
    text-decoration: none;
}

.spacelifting__light-blue-backlight {
    position: absolute;
    top: 1250px;
    left: 1000px;
    transform: rotate(-75deg);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .reasons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .reasons {
        gap: 20px;
    }

    .doctor-spacelifting__description {
        padding: 20px;
        gap: 15px;
    }

    .doctor-spacelifting__description {
        justify-content: space-around;
        font-size: 16px;
    }

    .doctor-spacelifting__photo {
        height: 477px;
    }

    .doctor-spacelifting__block-title {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .doctor-spacelifting__photo {
        width: 40%;
        height: auto;
        object-fit: contain;
    }

    .doctor-spacelifting__description {
        justify-content: center;
        font-size: 14px;
        padding: 10px;
    }

    .doctor-spacelifting__block-title {
        text-align: left;
        font-size: 20px;
    }

    .doctor-spacelifting__decription-block3 {
        padding: 0;
    }

    .doctor-spacelifting__more-about-me {
        align-self: auto;
        padding: 10px 20px;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .doctor-spacelifting {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        width: 95%;
        margin-top: 40px;
    }

    .doctor-spacelifting__photo {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: top;
        align-self: center;
    }

    .doctor-spacelifting__description {
        font-size: 12px;
        gap: 14px;
        padding: 20px;
    }

    .doctor-spacelifting__block-title {
        font-size: 20px;
        margin: 0;
        text-transform: none;
        width: auto;
        text-align: left;
        font-weight: 700;
    }

    .doctor-spacelifting__decription-block3 {
        padding: 0;
    }

    .doctor-spacelifting__more-about-me {
        align-self: auto;
        padding: 10px;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    .doctor-spacelifting {
        width: 70%;
    }
}

/* SPACELIFTING END */

/* FACIAL PLASTY START */

.facial-plasty__separator {
    width: 191px;
}

.facial-plasty__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 25px;
    list-style-type: none;
}

.facial-plasty__service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 20px;
    background: #F6F6F6;
    font-family: "Source Sans 3", sans-serif;
    color: #56565E;
}

.facial-plasty__service-img {
    width: 100%;
    border-radius: 19px;
}

.facial-plasty__service-title {
    color: #00ABE6;
    font-size: 22px;
    margin-top: 25px;
    margin-left: 16px;
}

.facial-plasty__service-description {
    color: #000;
    margin-top: 15px;
    margin-left: 32px;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 400;
}

.facial-plasty__service-list {
    font-size: 14px;
    font-weight: 400;
    list-style-position: inside;
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 43px;
}

li::marker {
    font-size: 8px;
}

.facial-plasty__links {
    align-items: end;
}

.facial-plasty__service-link {
    color: #00ABE6;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-right: 42px;
}

.facial-plasty__service-button {
    width: 90%;
    height: 53px;
    align-self: center;
}

@media (max-width: 1440px) {
    .facial-plasty__services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .facial-plasty__services {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        list-style-type: none;
        margin: auto;
    }
}

@media (min-width: 320px) and (max-width: 426px) {

    .facial-plasty__service {
        width: 100%;
        max-width: 500px;
        gap: 10px;
    }

    .facial-plasty__service-img {
        width: 100%;
        height: auto;
    }

    .facial-plasty__service-title,
    .facial-plasty__service-description,
    .facial-plasty__service-list {
        margin: 0;
    }
}

/* FACIAL PLASTY END */


/* BEFORE AFTER START */

/* SWIPER */

.swiper {
    margin: 0;
}

.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
    margin: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 40px var(--swiper-pagination-bullet-horizontal-gap, 15px);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide img {
    width: 80%;
    height: 550px;
    object-fit: contain;
}

/* SWIPER */

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.before-after-container__title {
    position: relative;
    color: #4C5159;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.before-after-container__title::after {
    content: "";
    width: 200px;
    height: 3px;
    background: #2AA7FF;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.top__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.top__image {
    max-width: 1124px;
}

.slider-container__bottom {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
    margin-top: 40px;
}

.bottom__pagination-cirlce {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C5C5C5;
    border: none;
}

.active {
    background: #2AA7FF;
}

@media (min-width: 320px) and (max-width: 1024px) {

    .swiper-slide img {
        height: 330px;
        object-fit: contain;
    }
    
}

@media (min-width: 320px) and (max-width: 1000px) {
    .before-after-container__title {
        position: relative;
        font-size: 16px;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 4px);
    }

    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 7px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 7px));
    }

    .swiper-slide img {
        height: 150px;
        object-fit: contain;
    }
}



/* BEFORE AFTER END */


/* SERVICE START */

.service-container__title {
    position: relative;
    color: #4C5159;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.service-container__title::after {
    content: "";
    width: 200px;
    height: 3px;
    background: #2AA7FF;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.service-container__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
    background-color: #fff;
    align-items: center;
}

.inner-container__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    padding: 35px;
}

.inner-container__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 23px;
}

.description__title {
    color: #00ABE6;
    font-family: "Source Sans 3";
    font-size: 24px;
}

.description__subtitle {
    color: #56565E;
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inner-container__image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.about__links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.links-container__link {
    color: #00ABE6;
    text-align: center;
    font-size: 18px;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .inner-container__image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .about__links-container {
        margin-top: 15px;
        gap: 10px;
    }

    .about__links-container .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .service-container__inner-container {
        padding: 20px;
        gap: 10px;
    }

    .inner-container__about {
        padding: 0;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .inner-container__about {
        padding: 0px;
    }

    .service-container__inner-container {
        padding: 20px;
    }


}

@media (min-width: 320px) and (max-width: 767px) {
    .service-container__title {
        position: relative;
        font-size: 16px;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .service-container__inner-container {
        /* flex-direction: column; */
        align-items: center;
        /* width: 90%; */
        /* max-width: 300px; */
        /* margin: auto; */
        border-radius: 5px;
        padding: 13px;
        background: #F6F6F6;
        gap: 10px;
        /* box-shadow: 0 0 10px 4px gray; */
        grid-template-columns: 1fr;
    }

    .inner-container__about {
        order: 2;
        padding: 0;
        gap: 10px;
    }

    .inner-container__image {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

/* SERVICE END */


/* PROFITABLE OFFERS START */

.profitable-offers {
    margin: auto;
    background: #ECF5F9;
    display: flex;
    flex-direction: column;
    background: #ECF5F9;
    padding-top: 20px;
}

.profitable-offers__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.container__offer {
    width: 100%;
}

.offer__image {
    position: relative;
}

.offer__descrition {
    padding: 16px 28px;
    color: #4C5159;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}

.image__image {
    width: 100%;
}

.image__description {
    position: absolute;
    left: 21px;
    bottom: 16px;
    color: #FFF;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 70%;
}

@media (min-width: 426px) and (max-width: 1440px) {

    .profitable-offers__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .image__description {
        left: 11px;
        font-size: 12px;
    }

    .offer__descrition {
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 426px) {

    .profitable-offers__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container__offer {
        width: 100%;
    }

    .offer__descrition {
        padding: 16px 7px;
    }

}

/* PROFITABLE OFFERS END */

/* FORM START */

.form-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
}

.form-container__image {
    width: 100%;
}


.form-section-container__title {
    color: #00ABE6;
}

.container__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 21px;
}

.form__input {
    font-family: "Inter";
    width: 100%;
    color: #454545;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #4C5159;
    outline: 0;
    padding: 15px 10px 15px 45px;
    background-image: url('assets/form/user.svg');
    background-position: 10px 15.5px;
    background-repeat: no-repeat;
}

.from__input-phone {
    background-image: url('assets/form/phone.svg');
}

.form__subtitle {
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
}

.form__input::placeholder {
    color: #87878790;
}

.form__select {
    font-family: "Inter";
    width: 100%;
    color: #4C5159;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #4C5159;
    outline: 0;
    padding: 15px 10px 15px 15px;
}

.form__privacy-policy {
    color: #4C5159;
    font-family: "Inter";
    font-size: 10px;
    line-height: 177.018%;
}

.form__privacy-policy a {
    color: #00ABE6;
}

.form__btn {
    align-self: flex-end;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .form-container__image {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    .form-section {
        background-color: #fff;
    }

    .form-section__container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .container__form {
        order: 2;
    }

    .form-container__image {
        width: 100%;
    }
}

/* FORM END */

/* Work principles START */

.work-principles-section {
    display: flex;
    flex-direction: column;
}

.work-principles-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.container__principle {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 40px 40px;
    border: 1px solid #DCF0F9;
    background: #FFF;
    gap: 28px;
    width: 633px;
}

.principle__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.principle__image {
    grid-area: 1 / 1 / 3 / 2;
    width: 100px;
}

.principle__title {
    font-family: "Inter";
    font-size: 24px;
    grid-area: 1 / 2 / 2 / 3;
}

.principle__subtitle {
    color: #4C5159;
    font-family: "Inter";
    line-height: 25px;
    grid-area: 2 / 2 / 3 / 3;
}

.work-principles-section-link {
    width: fit-content;
    align-self: center;
    margin-top: 40px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .container__principle {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    .work-principles-section__container {
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    .container__principle {
        display: grid;
        grid-template-columns: 30% 60%;
        grid-template-rows: repeat(2, auto);
        padding: 20px 12px;
        row-gap: 10px;
        column-gap: 10px;
    }

    .principle__image {
        grid-area: 1 / 1 / 2 / 2;
    }

    .principle__title {
        grid-area: 1 / 2 / 2 / 3;
        font-size: 20px;
        font-weight: 500;
        overflow-wrap: anywhere;
        align-self: center;
    }

    .principle__subtitle {
        grid-area: 2 / 1 / 3 / 3;
        color: #878787;
        text-align: justify;
        font-size: 14px;
    }


}

/* Work principles END */

/* REVIEWS START */

.reviews {
    display: flex;
    flex-direction: column;
}

.reviews-slider {
    gap: 51px;
}

.top__reviews-item {
    color: #000;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
}

.additional-info {
    align-self: center;
    display: grid;
    margin-top: 17px;
}

.reviews__btn {
    margin-top: 30px;
    width: fit-content;
    align-self: center;
}



/* REVIEWS END */

/* CONTACTS START */

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.info__contacts {
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-size: 22px;
    line-height: 31px;
    color: gray;
}

.contacts__title {
    color: #4C5159;
    font-size: 34px;
    font-weight: 700;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .info {
        flex-direction: column;
    }

    .info__map {
        align-self: center;
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    .info {
        flex-direction: column;
        /* padding: 20px; */
    }

    .contacts__title {
        font-size: 16px;
    }

    .info__contacts {
        line-height: normal;
        font-size: 14px;
        gap: 15px;
    }
}

/* CONTACTS END */

/*  ===  MAIN END  === */


/*  ===   FOOTER START  ===   */

.footer {
    background-color: #f4f4f4;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 40px 324px 0 348px;
}

.footer__logo {
    width: 123px;
    height: 108px;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 19px;
}

.footer__link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.footer__socials {
    text-align: right;
}


.footer__bottom {
    display: grid;
    grid-template-columns: 276px 573px 344px;
    padding: 50px 295px 54px 329px;
    ;
    align-items: center;
    color: #878787;
    font-size: 14px;
    font-weight: 300;
    gap: 50px;
}

.footer__text-sp {
    width: 276px;
}

.footer__text-cp {
    color: #878787;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 177.018%;
}

.footer__text-refunds {
    width: 344px;
    text-align: right;
}

/*  ===   FOOTER END  ===   */

/* popup start */

.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.popup.is-active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.popup__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.popup__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
}

.popup__content {
    position: relative;
    background: #fff;
    padding: 70px 20px;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
}

.popup__mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.mobile-menu {
    width: 100%;
}

.mobile-menu__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-menu__link {
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    font-size: 24px;
    color: inherit;
    font-weight: 500;
    text-align: center;
}

.mobile-menu__link:hover {
    color: #878787;
}

.popup__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 50px;
    height: 50px;
}

.popup__btn-close::before,
.popup__btn-close::after {
    content: '';
    background: #d2d2d2;
    height: 40px;
    width: 3px;
    position: absolute;
    border: 10px;
    top: 50%;
}

.popup__btn-close::before {
    transform: translateY(-50%) rotate(45deg);
}

.popup__btn-close::after {
    transform: translateY(-50%) rotate(-45deg);
}

.popup__btn-close:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .popup__inner {
        padding: 0;
    }

    .popup__content {
        max-width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 100px;
    }

    .popup__subtitle {
        font-size: 18px;
    }

    .popup__subtitle--order {
        max-width: 260px;
    }
}